body {
    margin: 0;
    padding: 0;
    background: #ccc;
}
ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}
ul li{
    list-style: none;
    margin: 0 40px;
}
ul li a .fa {
    font-size: 40px;
    line-height: 80px;
    transition: 0.5s ;
}
ul li a{
    position: relative;
    display: block;
    width: 80px;
    text-align: center;
    background: #fff;
    transform: perspective(1000px)
 rotate(-30deg) skew(25deg) translate(0,0);
    transition: 0.5s ;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

ul li a::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #a2a2a2;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}
ul li a::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #c7c7c7 ;
    transition: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
}
ul li a:hover{
    transform: perspective(1000px)
 rotate(-30px) skew(25deg)
 translate(20px,-20px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}
ul li:nth-child(1) a .fa {
    color: #3b5999;
}
ul li:nth-child(2) a .fa {
    color: #DD2A7B;
}
ul li:nth-child(3) a .fa {
    color: #333;
}
ul li:nth-child(4) a .fa {
    color: #00acee;
}
ul li:nth-child(5) a .fa {
    color: #1da172;
}
ul li a:hover .fa {
    color: #fff;
}
ul li:nth-child(1) a:hover {
    background: #3b5999;
}
ul li:nth-child(2) a:hover {
    background: #DD2A7B;
}
ul li:nth-child(3) a:hover {
    background: #333;
}
ul li:nth-child(4) a:hover {
    background: #00acee;
}
ul li:nth-child(5) a:hover {
    background: #1da172 ;
}
ul li:nth-child(1) a:hover::before {
    background: #1f3460;
}
ul li:nth-child(2) a:hover::before {
    background: #751540;
}
ul li:nth-child(3) a:hover::before {
    background: #202020;
}
ul li:nth-child(4) a:hover::before {
    background: #2e92b9;
}
ul li:nth-child(5) a:hover::before {
    background: #166e4f;
}
ul li:nth-child(1) a:hover::after {
    background: #566c9c;
}
ul li:nth-child(2) a:hover::after {
    background: #d95490;
}
ul li:nth-child(3) a:hover::after {
    background: #494949;
}
ul li:nth-child(4) a:hover::after {
    background: #5fc2e8;
}
ul li:nth-child(5) a:hover::after {
    background: #53c19a;
}
